@import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap');

body {
    background-color: #6868AC;
}


textarea {
    width: 70%;
    font-size: 0.8rem;
    text-align: center;
}

.object {
    width: 70%;
    text-align: center;
}

.top-box {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.erase-button {
    font-size: 0.8rem;
}

.note {
    width: 30%;
    height: 7rem;
    border: 1px solid rgb(123, 123, 123);
    background: linear-gradient(135deg, white 0 85%, rgb(164, 164, 164));
    font-size: 0.8rem;
    font-family: 'Karla', sans-serif;
}

.note .close {
    text-align: end;
}

@media only screen and (max-width: 600px) {
    .note {
        width: 91.5%;
    }
  }